body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #fff;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #2528c4;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
}

.contador {
  font-size: 40px;
  font-weight: bold;
}

.botoes {
  display: flex;
  gap: 20px;
}
